assets
node_modules
tailwind.config,js
package-lock.json
package.json
device preview.jpeg
preview.jpeg
2.Error.png
1.Error.png
3.Error_input.PNG
history.jpeg
forcast desktop.jpeg
2.weather card_extnded.png
2.weather card.jpegsearch and auto location.jpeg
search bar.jpeg
1.screen.jpeg
2.screen.jpeg